.progress-container{

padding:30px;

background:#f8fafc;

min-height:100vh;

}



.page-header h1{

font-size:28px;

color:#0f172a;

}


.page-header p{

color:#64748b;

}





.progress-kpi{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

margin-top:25px;

}



.kpi-card{

background:white;

padding:25px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

text-align:center;

}



.kpi-card h3{

color:#64748b;

}



.kpi-card h2{

font-size:35px;

}



.green{

color:#16a34a;

}


.orange{

color:#ea580c;

}


.red{

color:#dc2626;

}




.circle{

height:120px;

width:120px;

border-radius:50%;

margin:auto;

display:flex;

align-items:center;

justify-content:center;

background:

conic-gradient(
#2563eb 72%,
#e2e8f0 0
);


}


.circle span{

background:white;

height:85px;

width:85px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

font-weight:bold;

}




.progress-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

margin-top:30px;

}




.chart-box,
.status-box,
.warning-box{


background:white;

padding:25px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);


}





.progress-row{

display:grid;

grid-template-columns:130px 1fr 50px;

align-items:center;

gap:15px;

margin:20px 0;

}



.bar{

height:12px;

background:#e2e8f0;

border-radius:10px;

overflow:hidden;

}



.bar span{

display:block;

height:100%;

background:#2563eb;

}





.warning-box{

margin-top:30px;

}



.warning{

padding:15px;

margin-top:12px;

background:#fff7ed;

border-left:5px solid #f97316;

border-radius:10px;

}





@media(max-width:900px){


.progress-kpi{

grid-template-columns:1fr 1fr;

}


.progress-grid{

grid-template-columns:1fr;

}


}