/*==========================================================
ONEPWS ERP COMMON STYLE
==========================================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:'Poppins',sans-serif;

    background:#f5f7fb;

    color:#1e293b;

    min-height:100vh;

    overflow-x:hidden;

}


.app-container{

    display:flex;

    min-height:100vh;

}


/* SIDEBAR */

.sidebar{

    width:260px;

    min-height:100vh;

    background:#ffffff;

    border-right:1px solid #e2e8f0;

    flex-shrink:0;

}


/* MAIN AREA */

.main-content{

    flex:1;

    padding:20px;

    overflow-x:auto;

}


/* LINKS */

a{

    text-decoration:none;

}


/* BUTTON RESET */

button{

    cursor:pointer;

    font-family:inherit;

}